body {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
}

.works {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    
    overflow: hidden;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.thumbnail {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

.characters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.character {
    display: flex;
    gap: 30px;
    align-items: center;

    background: white;
    border-radius: 10px;
    padding: 20px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.character img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.character-text {
    flex: 1;
}

.works a {
    text-decoration: none;
    color: inherit;
}

.card .thumbnail {
    margin-bottom: 15px;
}

.small-thumbnail {
    height: 120px;
}
